{% extends 'base.html' %}

{% block title %}
Stock Portfolio
{% endblock %}

{% block content %}

{% if ticker %}
<h5>{{ticker}}</h5>
{% endif %}

{% if api %}
    {% if api == "Error" %}
        <h5>There was a problem with your ticker symbol, please try again!</h5>
    {% else %}
        <h1>{{ api.companyName }}</h1><br/>
        Price: ${{api.latestPrice}}<br/>
        Previous Close: {{api.previousClose}}<br/>
        Market Capital: ${{api.marketCap}}<br/>
        YTD Change: {{api.ytdChange}}<br/>
        Week 52 High: ${{api.week52High }}<br/>
        Week 52 Low: ${{api.week52Low  }}<br/>
<!--        {% for key, value in api.items %}-->
<!--            {{ key }} : {{ value }} <br/>-->
<!--        {% endfor %}-->
    {% endif %}
{% endif %}

{% endblock %}